snippet log "console.log" b
	console.log(${1})
snippet warn "console.warn" b
	console.log(${1})
snippet error "console.error" b
	console.error(${1})
snippet default_export "es6 defautl export" b
	export { default } from "${1}";
snippet default_as "es6 defautl export" b
	export { default as ${1} } from "${2}";

endsnippet

